.flex-rw {
    width: 100%;
        height: 85px;
        display: flex;
        flex-flow: row wrap;
        background-color: white;
}

.navbar {
    @extend .flex-rw;
    .img {
        width: 100px;
        height: 85px;
    }
  .container {
    @extend .flex-rw;
  }
}