
* {
    color: inherit;
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: 0;
}

a {
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 1px dotted #efefef;
}

img {
    max-width: 100%;
}